<style type="text/css" >
body {
  text-align: center;
  background: green
  }
</style>
<head>  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<div class="p-3 mb-2 bg-primary text-white">Analysis of Sentiments in Submissions</div>
<div class="d-flex justify-content-between">
<h3>Titles</h3>
<h3>Comments</h3>
</div>
<div class="d-flex justify-content-between">
<img src="/static/flairpredict/BrowniePoints/SentimentAnalysisLatest.png">
<img src="/static/flairpredict/BrowniePoints/SentimentAnalysisComments.png">

</div>
<h3>Keys corrsponding to figure titles</h3>
<p>("Used to keep images clean as : some flairs have large names")</p>
<div class="d-flex justify-content-between">
<p>flair0-->Non-Political</p>
<p>flair0-->AMA</p>
</div>
<div class="d-flex justify-content-between">
<p>flair1-->AMA</p>
<p>flair1-->Non-Political</p>
</div>
<div class="d-flex justify-content-between">
<p>flair2-->AskIndia</p>
<p>flair2-->Food</p>
</div>
<div class="d-flex justify-content-between">
<p>flair3-->Food</p>
<p>flair3-->Photography</p>
</div>
<div class="d-flex justify-content-between">
<p>flair4-->[R]eddiquette</p>
<p>flair4-->Sports</p>
</div>
<div class="d-flex justify-content-between">
<p>flair5-->Photography</p>
<p>flair5-->Demonetization</p>
</div>
<div class="d-flex justify-content-between">
<p>flair6-->Sports</p>
<p>flair6-->[R]eddiquette</p>
</div>
<div class="d-flex justify-content-between">
<p>flair7-->Science/Technology</p>
<p>flair7-->AskIndia</p>
</div>
<div class="d-flex justify-content-between">
<p>flair8-->Demonetization</p>
<p>flair8-->Science/Technology</p>
</div>
<div class="d-flex justify-content-between">
<p>flair9-->Politics</p>
<p>flair9-->Politics</p>
</div>
<a href="/flairpredict/brownies?type=misc&flair=AMA" class="btn btn-primary btn-lg btn-block" >Next</a>